{% extends 'base.html.twig' %}

{% block title %}Card Game{% endblock%}


{% block content %}
<div class="main-content">

<h1> {{ title }} </h1>

<p>
    <h4>Cards left in deck: {{ data.numberOfCards }}</h4>
</p>

{% for object in data.cards %}
    <p>
        #{{ loop.index }}
        {{ object.suit }}
        {{ object.rank }}
        ({{ object.value }})
    </p>
{% endfor %}

    </div>
</div>

</div>
{% endblock %}
